body {
    margin: 0;
    background-color: #d73842;
    font-family: "Signika", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#index-main-wrapper {
    display: grid;
    grid-template-areas:
        'nv'
        'hd'
        's1'
        's2'
        's3'
        'ft'
    ;
    grid-template-columns: 100%;
    grid-template-rows: 8vh 50vh 50vh 55vh 65vh 55vh;
    gap: 0;
}

nav {
    grid-area: nv;
    background-color: #d73842;
    margin: 0.25rem;
    padding-left: 2vw;
    border-style: solid;
    border-color: #f4b43a;
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    justify-content: space-between;
}

.rasasayang-logo-small {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: 0.1em;
    color: #f4b43a
}

.material-symbols-outlined {
    margin-right: 1.25vw;
    color: #f4b43a;
    border-radius: 8%;
}

.material-symbols-outlined:hover {
    background-color: rgb(161, 47, 54);
    transition: 0.3s;
    cursor: pointer;
}

.nav-desktop {
    display: none;
}

.nav-mobile {
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    right: -100vw;
    transition: right 0.3s;
    z-index: 5;
    padding-top: 12vh;
    display: flex;
    flex-direction: column;
}

.show {
    right: 0;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    padding-left: 8vw;
    margin: 0.3em;
    font-family: "Patua One", serif;
}

.nav-link:hover {
    cursor: pointer;
    transition: 0.3s;
    color: #d73842;
}

#red-bottom {
    background-color: #d73842;
    height: 30vh;
    width: 100vw;
    margin-top: 45vh;
}

header {
    grid-area: hd;
    background-color: #d73842;
}

.header-image {
    height: 100%;
    width: 100%;
    opacity: 1;
    object-fit: cover;
}

.header-image-desktop {
    display: none;
}

.header-text {
    font-style: italic;
    position: absolute;
    top: 17%;
    width: 100%;
    text-align: center;
    font-size: large;
    color: black;
}

#om-oss {
    grid-area: s1;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

#om-oss-text {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 3vh;
}

#to-kontakt {
    align-self: center;
    text-align: center;
    color: whitesmoke;
    background-color: black;
    height: 5vh;
    width: 32%;
    padding-top: 1.5vh;
    margin-top: 5vh;
    font-weight: 300;
}

#to-kontakt:hover {
    color: black;
    background-color: whitesmoke;
    border-style: solid;
    border-width: thin;
}

#easy-access-links {
    grid-area: s2;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
}

.ea-link {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.img-ea-link {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 0.3em;
}

.img-ea-link:hover {
    width: 98%;
    height: 98%;
    transition: 0.3s;
    cursor: pointer;
    color: #d73842;
}

.text-to-meny {
    position: absolute;
    top: 5vh;
    left: 41vw;
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
}

.text-to-takeaway {
    position: absolute;
    top: 31vh;
    left: 35vw;
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
}


#quick-info {
    grid-area: s3;
    background-color: whitesmoke;
}


.quick-info-text {
    margin: 2em;
    margin-top: 3em;
}



footer {
    grid-area: ft;
    background-color: #d73842;
    color: #f4b43a;
    align-self: flex-end;
    text-align: center;
    font-size: 15px;
}

#footer-text {
    font-weight: 400;
    text-decoration: none;
}

#facebook-icon {
    width: 2em;
    height: 2em;
}



#kontakt-main-wrapper {
    display: grid;
    grid-template-areas:
        'nv'
        'hd-k'
        's1-k'
        'rd'
        's2-k'
        's3-k'
        'ft'
    ;
    grid-template-columns: 100%;
    grid-template-rows: 8vh 30vh 55vh 8vh 45vh 60vh 55vh;
    gap: 0;
}

#header-kontakt {
    grid-area: hd-k;
    display: flex;

}

#kontakt-header-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 100% 20%;
}

#kontakt-header-text {
    position: absolute;
    top: 14%;
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    font-style: italic;
    display: none;
}


#main-section-kontakt {
    grid-area: s1-k;
    background-color: whitesmoke;
    padding-left: 2em;
    padding-right: 2em;
}

#kontakta-oss-text {
    font-weight: 600;
    margin-top: 2em;
}

.kontaktuppgift-parent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20vh;
}

.kontaktuppgift {
    align-self: center;
    text-align: center;
    color: black;
    background-color: whitesmoke;
    border-style: solid;
    border-width: thin;
    height: 1.8em;
    width: 20em;
    padding-top: 0.4em;
    font-weight: 200;
    font-size: 1em;
    margin: 0;
}

#red-block {
    grid-area: rd;
    background-color: #d73842;
}

#more-info-kontakt {
    grid-area: s2-k;
    background-color: whitesmoke;
    padding-left: 2em;
    padding-right: 2em;
}

.h3-kontakt {
    font-weight: 800;
    font-size: 1.2em;
    margin-top: 2em;
}


#map {
    grid-area: s3-k;
    background-color: whitesmoke;
    padding-bottom: 2em;
}

#google-map {
    height: 100%;
    width: 100%;
}




#meny-main-wrapper {
    display: grid;
    grid-template-areas:
        'nv'
        'hd-m'
        's1-m'
        's2-m'
        'ft'
    ;
    grid-template-columns: 100%;
    grid-template-rows: 8vh 45vh 180vh 2800vh 55vh;
    gap: 0;
}

#header-meny {
    grid-area: hd-m;
    padding-top: 1.6em;
    background-color: whitesmoke;
}

#meny-header-text {
    text-align: center;
    font-weight: 600;
    font-size: 1.8em;
}

#meny-header-p {
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 1.7em;
}

#to-sub-menus {
    grid-area: s1-m;
    background-color: whitesmoke;
    text-align: center;
}

.sub-menu-img {
    height: 23%;
    width: 95%;
    object-fit: cover;
    border-radius: 0.3em;
}

#to-alacarte {
    position: absolute;
    top: 85vh;
    left: 10%;
    font-size: 1.2em;
    font-weight: 200;
    color: black;
    background-color: whitesmoke;
    height: 1.8em;
    width: 6em;
    text-align: center;
    padding-top: 0.5em;
}

#to-alacarte:hover {
    color: white;
    background-color: black;
    transition: 0.1s;
}

#to-lunch {
    position: absolute;
    top: 126vh;
    left: 10%;
    font-size: 1.2em;
    font-weight: 200;
    color: black;
    background-color: whitesmoke;
    height: 1.8em;
    width: 6em;
    text-align: center;
    padding-top: 0.5em;
}

#to-lunch:hover {
    color: white;
    background-color: black;
    transition: 0.2s;
}

#to-drycker {
    position: absolute;
    top: 168vh;
    left: 10%;
    font-size: 1.2em;
    font-weight: 200;
    color: black;
    background-color: whitesmoke;
    height: 1.8em;
    width: 6em;
    text-align: center;
    padding-top: 0.5em;
}

#to-drycker:hover {
    color: white;
    background-color: black;
    transition: 0.2s;
}

#to-erbjudanden {
    position: absolute;
    top: 210vh;
    left: 10%;
    font-size: 1.2em;
    font-weight: 200;
    color: black;
    background-color: whitesmoke;
    height: 1.8em;
    width: 6em;
    text-align: center;
    padding-top: 0.5em;
}

#to-erbjudanden:hover {
    color: white;
    background-color: black;
    transition: 0.2s;
}

#meny {
    grid-area: s2-m;
    background-color: whitesmoke;
    padding-left: 1.5em;
    padding-right: 1.5em;
}




#takeaway-main-wrapper {
    display: grid;
    grid-template-areas:
        'nv'
        'hd-t'
        's1-t'
        's2-t'
        'ft'
    ;
    grid-template-columns: 100%;
    grid-template-rows: 8vh 30vh 50vh 1770vh 55vh;
    gap: 0;
}

#header-takeaway {
    grid-area: hd-t;
    background-color: whitesmoke;
    text-align: center;
    font-size: 0.9em;
}

#takeaway-img-hd {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#takeaway-info {
    grid-area: s1-t;
    background-color: whitesmoke;
    padding-left: 2em;
    padding-right: 2em;
}

#takeaway-info-hd {
    font-weight: 600;
    margin-top: 2em;
}


#takeaway-meny {
    grid-area: s2-t;
    background-color: whitesmoke;
    padding-left: 10vw;
    padding-right: 10vw;
}

#meny-takeaway-hd {
    text-align: center;
}

.text-to-meny2 {
    display: none;
}

.text-to-takeaway2 {
    display: none;
}

#button-to-meny {
    display: none;
}

#button-to-takeaway {
    display: none;
}

.quick-info-content {
    margin-top: 3.5em;
}

.sub-menu {
    padding-top: 6vh;
}

#map-desktop {
    display: none;
}

.menu-parent {
    display: none;
}

.h3-sub {
    font-size: 1.4em;
    margin: 7vh;
    text-align: center;
}

.sub-sub-menu {
    text-align: center;
}

.bold {
    font-weight: bold;
}

#sm-list-parent {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15vh;
}

.sm-list {
    width: 30%;
}


@media only screen and (min-width: 700px) {
    p {
        font-size: large;
    }

    .nav-mobile {
        display: none;
    }

    .nav-desktop {
        display: block;
        color: #f4b43a;
        padding-right: 2vw;
    }

    .nav-link {
        color: #f4b43a;
        font-size: 1.15em;
        padding: 1.2vw;
    }

    .nav-link:hover {
        color: #bb7111;
        transition: 0.3s;
    }

    #material-icon {
        display: none;
    }

    #om-oss-text {
        margin-left: 25vw;
        margin-right: 25vw;
        margin-top: 5vh;
    }

    h2 {
        text-align: center;
    }

    #to-kontakt {
        font-size: large;
        width: 15%;
        margin-top: 10vh;
    }

    .header-text {
        width: 24vw;
        top: 45vh;
        left: 74vw;
        color: black;
    }

    #easy-access-links {
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
        align-items: center;
    }

    .ea-link {
        height: 98%;
        width: 48%;
        filter: blur(0.1em);
    }

    .img-ea-link {
        width: 100%;
        height: 100%;
        border-radius: 0.3em;
    }

    .img-ea-link:hover {
        width: 100%;
        height: 100%;
        cursor: default;
    }

    .text-to-meny {
        display: none;
    }

    .text-to-takeaway {
        display: none;
    }

    .text-to-meny2 {
        display: inline;
        position: absolute;
        top: 20vh;
        left: 14%;
        font-size: 1.3em;
    }

    .text-to-takeaway2 {
        display: inline;
        position: absolute;
        top: 20vh;
        left: 66%;
        font-size: 1.3em;
    }

    #button-to-meny {
        display: inline;
        position: absolute;
        top: 43vh;
        left: 4vw;
        font-size: 1.2em;
        font-weight: 200;
        color: black;
        background-color: whitesmoke;
        height: 1.8em;
        width: 6em;
        text-align: center;
        padding-top: 0.5em;
    }

    #button-to-meny:hover {
        color: white;
        background-color: black;
        transition: 0.1s;
    }

    #button-to-takeaway {
        display: inline;
        position: absolute;
        top: 43vh;
        left: 53vw;
        font-size: 1.2em;
        font-weight: 200;
        color: black;
        background-color: whitesmoke;
        height: 1.8em;
        width: 6em;
        text-align: center;
        padding-top: 0.5em;
    }

    #button-to-takeaway:hover {
        color: white;
        background-color: black;
        transition: 0.1s;
    }

    .quick-info-text {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }

    .quick-info-content {
        margin-top: 2em;
        padding-right: 4em;
        width: 25%;
        height: 100%;
    }

    #vertical-line {
        margin-top: 3.5em;
        width: 1px;
        height: 35vh;
        background-color: black;
    }

    .align-center {
        text-align: center;
    }

    #meny-main-wrapper {
        display: grid;
        grid-template-areas:
            'nv'
            'hd-m'
            's1-m'
            's2-m'
            'ft'
        ;
        grid-template-columns: 100%;
        grid-template-rows: 8vh 40vh 100vh 1800vh 55vh;
        gap: 0;
    }

    #meny-header-p {
        margin-left: 25vw;
        margin-right: 25vw;

    }

    .sub-menu-img {
        height: 48%;
        width: 48%;
        object-fit: cover;
        border-radius: 0.3em;
        margin: 0.2em;
    }

    #to-alacarte {
        top: 82vh;
        left: 6%;
    }

    #to-lunch {
        top: 82vh;
        left: 55%;
    }

    #to-drycker {
        top: 131vh;
        left: 6%;
    }

    #to-erbjudanden {
        top: 131vh;
        left: 55%;
    }

    .sub-menu {
        padding-top: 7vh;
        margin-left: 18vw;
        margin-right: 18vw;
    }

    #takeaway-info {
        padding-left: 25vw;
        padding-right: 25vw;
    }

    #takeaway-info-hd {
        font-size: x-large;
        text-align: center;
    }

    #kontakta-oss-text {
        font-size: x-large;
    }

    #main-section-kontakt {
        padding-left: 20vw;
        padding-right: 20vw;
    }

    .kontaktuppgift-parent {
        margin-top: 6vh;
    }

    .kontaktuppgift {
        font-size: 1.2em;
        width: 20em;
    }

    #map {
        display: none;
    }

    #kontakt-main-wrapper {
        display: grid;
        grid-template-areas:
            'nv'
            'hd-k'
            's1-k'
            'rd'
            's2-k'
            'ft'
        ;
        grid-template-columns: 100%;
        grid-template-rows: 8vh 30vh 55vh 8vh 65vh 55vh;
        gap: 0;
    }

    #more-info-kontakt {
        display: flex;
        justify-content: space-around;
        padding-left: 10vw;
    }

    #map-desktop {
        display: block;
        width: 60%;
        height: 85%;
        margin-top: 2em;
    }

    #more-info-content {
        width: 30%;
        height: 100%;
        margin-top: 3em;
    }

    .header-image {
        display: none;
    }

    .header-image-desktop {
        display: block;
        height: 100%;
        width: 100%;
    }

    .sub-sub-menu {
        display: flex;
        justify-content: space-around;
        text-align: start;
    }

    .sm-column {
        width: 40%;
        height: 100%;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .sm-column-thai {
        width: 30%;
        height: 100%;
        margin-left: 3vw;
        margin-right: 3vw;
    }

    #takeaway-meny {
        padding-left: 20vw;
        padding-right: 20vw;
    }

    #takeaway-main-wrapper {
        display: grid;
        grid-template-areas:
            'nv'
            'hd-t'
            's1-t'
            's2-t'
            'ft'
        ;
        grid-template-columns: 100%;
        grid-template-rows: 8vh 30vh 50vh 1155vh 55vh;
        gap: 0;
    }

    .dryck-meny{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .dryck-name{
        width: 25%;
    }

    .dryck-liten{
        width: 10%;
    }

    .dryck-stor{
        width: 10%;
    }
    

}

@media only screen and (max-width: 700px) {}