body {
    margin: 0px;
    background-color: #d73842;
    font-family: "Signika", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#index-main-wrapper {
    display: grid;
    grid-template-areas: 
    'nv'
    'hd'
    's1'
    's2'
    's3'
    'ft'
    ;
    grid-template-columns: 100%;
    grid-template-rows: 8vh 50vh 45vh 55vh 60vh 30vh;
    gap: 0;
}

nav {
    grid-area: nv;
    background-color: #d73842;
    margin: 0.25em;
    padding-left: 0.3em;
    border-style: solid;
    border-color: #f4b43a;
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    justify-content: space-between;
}

.rasasayang-logo-small {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: 0.1em;
    color: #f4b43a
}

.material-symbols-outlined {
    margin-right: 0.5em;
    color: #f4b43a;
    border-radius: 8%;
}

.material-symbols-outlined:hover {
    background-color: rgb(161, 47, 54);
    transition: 0.3s;
    cursor: pointer;
}

.nav-mobile {
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    right: -100vw;
    transition: right 0.3s;
    z-index: 5;
    padding-top: 12vh;
    display: flex;
    flex-direction: column;
}

.show {
    right: 0;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    padding-left: 8vw;
    margin: 0.3em;
    font-family: "Patua One", serif;
}

.nav-link:hover {
    cursor: pointer;
    transition: 0.3s;
    color: #d73842;
}

#red-bottom {
    background-color: #d73842;
    height: 25vh;
    width: 100vw;
    margin-top: 50vh;
}

header {
    grid-area: hd;
    background-color: #d73842;
}

.header-image {
    height: 100%;
    width: 100%;
    opacity: 1;
    object-fit: cover;
}

.header-text {
    font-style: italic;
    position: absolute;
    top: 17%;
    width: 100%;
    text-align: center;
    font-size: 1.15em;
}

#om-oss {
    grid-area: s1;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

#om-oss-text {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 3vh;
}

#to-kontakt {
    align-self: center;
    text-align: center;
    color: whitesmoke;
    background-color: black;
    height: 1.8em;
    width: 6em;
    padding-top: 0.4em;
    margin-top: 5vh;
    font-weight: 200;
}

#to-kontakt:hover {
    color: black;
    background-color: whitesmoke;
    border-style: solid;
    border-width: thin;
}

#easy-access-links {
    grid-area: s2;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    align-items: center;
}

.ea-link {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.img-ea-link {
    width: 95%;
    height: 95%;
    object-fit: cover;
}

.img-ea-link:hover {
    width: 98%;
    height: 98%;
    transition: 0.3s;
    cursor: pointer;
    color: #d73842;
}

.text-to-meny {
    position: absolute;
    top: 15%;
    left: 43%;
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
}

.text-to-takeaway {
    position: absolute;
    top: 60%;
    left: 38%;
    text-align: center;
    font-size: 1.7em;
    font-weight: bold;
}


#quick-info {
    grid-area: s3;
    background-color: whitesmoke;
}


.quick-info-text{
    margin: 2em;
    margin-top: 3em;
}

#öppetider-text {
    margin-top: 2em;
}

footer {
    grid-area: ft;
    background-color: #d73842;
    color: #f4b43a;
    align-self: flex-end;
    text-align: center;
    font-size: 15px;
}

#footer-text {
    font-weight: 500;
}



#kontakt-main-wrapper {
    display: grid;
    grid-template-areas: 
    'nv'
    'hd-k'
    's1-k'
    'rd'
    's2-k'
    's3-k'
    'ft'
    ;
    grid-template-columns: 100%;
    grid-template-rows: 8vh 30vh 55vh 8vh 40vh 60vh 30vh;
    gap: 0;
}

#header-kontakt {
    grid-area: hd-k;
    display: flex;
    
}

#kontakt-header-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 100% 20%;
}

#kontakt-header-text {
    position: absolute;
    top: 14%;
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    font-style: italic;
    display: none;
}


#main-section-kontakt {
    grid-area: s1-k;
    background-color: whitesmoke;
    padding-left: 2em;
    padding-right: 2em;
}

#kontakta-oss-text {
    font-weight: 600;
    margin-top: 2em;
}

.kontaktuppgift-parent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20vh;
    margin-top: 10vh;
}

.kontaktuppgift {
    align-self: center;
    text-align: center;
    color: black;
    background-color: whitesmoke;
    border-style: solid;
    border-width: thin;
    height: 1.8em;
    width: 20em;
    padding-top: 0.4em;
    font-weight: 200;
    font-size: 1.1em;
    margin: 0;
}

#red-block {
    grid-area: rd;
    background-color: #d73842;
}

#more-info-kontakt {
    grid-area: s2-k;
    background-color: whitesmoke;
    padding-left: 2em;
    padding-right: 2em;
}

.h3-kontakt {
    font-weight: 800;
    font-size: 1.2em;
    margin-top: 2em;
}


#map {
    grid-area: s3-k;
    background-color: whitesmoke;
    padding-bottom: 2em;
}

#google-map {
    height: 100%;
    width: 100%;
}




#meny-main-wrapper {
    display: grid;
    grid-template-areas: 
    'nv'
    'hd-m'
    's1-m'
    's2-m'
    'ft'
    ;
    grid-template-columns: 100%;
    grid-template-rows: 8vh 30vh 180vh 200vh 30vh;
    gap: 0;
}

#header-meny {
    grid-area: hd-m;
    padding-top: 1.6em;
    background-color: whitesmoke;
}

#meny-header-text {
    text-align: center;
    font-weight: 600;
    font-size: 1.8em;
}

#meny-header-p {
    margin-left: 3em;
    margin-right: 3em;
    padding-top: 1.7em;
}

#to-sub-menus {
    grid-area: s1-m;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sub-menu-img {
    height: 23%;
    width: 95%;
    object-fit: cover;
    align-self: center;
    border-radius: 0.3em;
}

#to-alacarte {
    position: absolute;
    top: 68vh;
    left: 10%;
    font-size: 1.2em;
    font-weight: 200;
    color: black;
    background-color: whitesmoke;
    height: 1.8em;
    width: 6em;
    text-align: center;
    padding-top: 0.5em;
}

#to-alacarte:hover {
    color: white;
    background-color: black;
    transition: 0.1s;
}

#to-lunch {
    position: absolute;
    top: 112vh;
    left: 10%;
    font-size: 1.2em;
    font-weight: 200;
    color: black;
    background-color: whitesmoke;
    height: 1.8em;
    width: 6em;
    text-align: center;
    padding-top: 0.5em;
}

#to-lunch:hover {
    color: white;
    background-color: black;
    transition: 0.2s;
}

#to-drycker {
    position: absolute;
    top: 156vh;
    left: 10%;
    font-size: 1.2em;
    font-weight: 200;
    color: black;
    background-color: whitesmoke;
    height: 1.8em;
    width: 6em;
    text-align: center;
    padding-top: 0.5em;
}

#to-drycker:hover {
    color: white;
    background-color: black;
    transition: 0.2s;
}

#to-erbjudanden {
    position: absolute;
    top: 200vh;
    left: 10%;
    font-size: 1.2em;
    font-weight: 200;
    color: black;
    background-color: whitesmoke;
    height: 1.8em;
    width: 6em;
    text-align: center;
    padding-top: 0.5em;
}

#to-erbjudanden:hover {
    color: white;
    background-color: black;
    transition: 0.2s;
}

#meny {
    grid-area: s2-m;
    background-color: whitesmoke;
    padding-left: 1.5em;
    padding-right: 1.5em;
}




#takeaway-main-wrapper {
    display: grid;
    grid-template-areas: 
    'nv'
    'hd-t'
    's1-t'
    's2-t'
    'ft'
    ;
    grid-template-columns: 100%;
    grid-template-rows: 8vh 30vh 50vh 200vh 30vh;
    gap: 0;
}

#header-takeaway {
    grid-area: hd-t;
    background-color: whitesmoke;
    text-align: center;
    font-size: 0.9em;
}

#takeaway-img-hd {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#takeaway-info {
    grid-area: s1-t;
    background-color: whitesmoke;
    padding-left: 2em;
    padding-right: 2em;
}

#takeaway-info-hd {
    font-weight: 600;
    margin-top: 2em;
}


#takeaway-meny {
    grid-area: s2-t;
    background-color: whitesmoke;
    padding-left: 2em;
    padding-right: 2em;
}

#meny-takeaway-hd {
    text-align: center;
}