body {
    margin: 0px;
    background-color: #d73842;
    font-family: "Signika", sans-serif;
}


#index-main-wrapper {
    display: grid;
    grid-template-areas: 
    'nv'
    'hd'
    's1'
    's2'
    's3'
    'ft'
    ;
    grid-template-columns: 100%;
    grid-template-rows: 8vh 50vh 35vh 80vh 50vh 30vh;
    gap: 0;
}

nav {
    grid-area: nv;
    background-color: #d73842;
    margin: 0.25em;
    padding-left: 0.3em;
    border-style: solid;
    border-color: #f4b43a;
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
}

.rasasayang-logo-small {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: 0.1em;
    color: #f4b43a
}

.nav-mobile {
    display: none;
}

header {
    grid-area: hd;
    background-color: #d73842;
}

.header-image {
    height: 100%;
    width: 100%;
    opacity: 0.8;
}

.header-text {
    font-family: "Patua One", serif;
    position: absolute;
    top: 17%;
    width: 100%;
    text-align: center;
    font-size: 1.15em;
}

#om-oss {
    grid-area: s1;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

#om-oss-text {
    margin-left: 2em;
    margin-right: 2em;
}

#to-kontakt {
    align-self: center;
}

#easy-access-links {
    grid-area: s2;
    background-color: #d73842;
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: space-between;
    position: relative;
}

.img-ea-link {
    width: 98%;
    height: 48%;
    border-style: solid;
    border-color: #f4b43a;
    object-fit: cover;
    opacity: 0.75;
}

.text-to-meny {
    position: absolute;
    top: 15%;
    left: 43%;
    text-align: center;
    font-size: 1.75em;
    font-family: "Patua One", serif;
}

.text-to-takeaway {
    position: absolute;
    top: 60%;
    left: 38%;
    text-align: center;
    font-size: 1.75em;
    font-family: "Patua One", serif;
}

#quick-info {
    grid-area: s3;
    background-color: whitesmoke;
}


.quick-info-text{
    margin: 2em;
}


footer {
    grid-area: ft;
    background-color: #d73842;
    color: #f4b43a;
    align-self: flex-end;
    text-align: center;
    font-size: 15px;
}

#footer-text {
    text-decoration: underline;
}